<a href="{{url}}" style="color: inherit;text-decoration:inherit">
  <div>
    <img style="float: left; max-width: 60px; max-height: 60px" src="{{iconurl}}" />
      <div style="margin-left: 65px">
        <h5>{{title}}</h5>
        <p style="font-size: 11px;opacity: 0.85;">{{description}}</p>
      </div>
    </div>
</a>